*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo{
    background-image: linear-gradient(90deg, #a09b56b0 0%, #E8F467 20%, #abb33b 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.containerPrincipal{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
}


.containerMesa{
    display: flex;
    width: 98%;
    justify-content: center;
    align-items: end;
}


#mesa{
    display: flex;
    width: 240vh;
    height: 50vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#teladecomputador{
    position: absolute;
    top: 32%;
    left: 50%;
    width: 110vh;
    height: 55vh;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#lampada{
    position: absolute;
    top: 35%;
    left: 72%;
    width: 100vh;
    height: 75vh;
    transform: translate(-50%, -50%);
    z-index: 2;
}


#janela{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 65vh;
    height: 45vh;
    transform: translate(-50%, -50%);
}

.piso{
    border-top: 3px solid rgb(255, 230, 0);
    background-image: linear-gradient(190deg, #a07f13a2 0%, #dbd13e 30%, #bb9a2c 90%);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 20vh;
}

.containerBotao{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#botao{
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 88%;
    width: 22vh;
    height: 15vh;
}


.game{
    background-image: linear-gradient(180deg, #87ceeb 0%, #87ceeb 90%, rgb(21, 235, 14) 100%);
    position: absolute;
    top: 25%;
    left: 51.1%;
    width: 60.8vh;
    height: 30vh;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.mario{
    position: absolute;
    width: 20px;
    bottom: 0;
    padding-bottom: 2px;
    padding-left: 2px;
}

.banana{
    position: absolute;
    padding-bottom: 2px;
    bottom: 0;
    width: 20px;
    animation: banana-animation 2s infinite linear;
}

.jump{
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    25%{
        bottom: 70px;
    }

    35%{
        bottom: 90px;
    }
    45%{
        bottom: 95px;
    }
    50%{
        bottom: 100px;
    }
    65%{
        bottom: 70px;
    }
    75%{
        bottom: 50px;
    }

    85%{
        bottom:30px;
    }
    95%{
        bottom: 15px;
    }

    100%{
        bottom: 0px;
    }
}

@keyframes banana-animation {
    from{
        right: 0px;
    }

    to{
        right: 98%;
    }
}

.localEscuro{
    background-color: rgb(37, 37, 6);
    opacity: 0.2;
}